<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="y.b"
>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"
    />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
    />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"
    />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"
    />
    <uses-feature 
        android:glEsVersion="0x00020000" 
        android:required="false"
    />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
    />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
    />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
    />
    <uses-permission
        android:name="android.permission.CAMERA"
    />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher"
    >
        <activity
            android:name=".TActivity"
            android:label="@string/app_name"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
